doctype html
html(lang="en")
  head
    title= pageTitle
    link(
      rel='stylesheet',
      href='css/style.css'
    )
    meta(
      name='viewport',
      content='width=device-width, initial-scale=1'
    )

  body
    div.container
      div.header
        include ./includes/header_logo.jade
        div.social
          include ./includes/social_media.jade
        div.nav
          include ./includes/index_nav.jade
      div.aboutContent
        include ./includes/index_content.jade
      div.workContent
        include ./includes/work_content.jade
      div.footer
        p Copyright &copy; 2015 James McGaghey